<div class="sc5-2">
  <div class="container">
    <div class="align-items-center d-flex justify-content-center">
      <div class="login-page pt-4">
        <a class="btn back-page-btn" routerLink="/blank/login-register"
          ><i class="ri-arrow-left-s-line"></i
        ></a>
        <h3>Let’s sign you in.</h3>
        <p>Welcome back to our Food delivery app. Search your favourte food.</p>
        <form class="default-form-wrap">
          <div class="row">
            <div class="col-md-6">
              <div class="single-input-wrap">
                <label
                  ><img src="assets/img/icon/profile.svg" alt="img"
                /></label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Phone, email or username"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="single-input-wrap">
                <label
                  ><img src="assets/img/icon/password.svg" alt="img"
                /></label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Password"
                />
                <button class="show-pass-btn">
                  <img src="assets/img/icon/eye.svg" alt="img" />
                </button>
              </div>
            </div>
            <div class="text-end">
              <a routerLink="/blank/forgot">Forgot password?</a>
            </div>
          </div>
        </form>
        <a class="btn btn-base w-100" routerLink="/main/principal">Sign In</a>
        <span class="another-way-link"
          >Don’t have an account?
          <a routerLink="/blank/register">Register</a></span
        >
      </div>
    </div>
  </div>
</div>
