<div class="container">
  <div class="align-items-center d-flex justify-content-center vh-100">
    <div class="successful-msg-page btn-bottom-fixed text-center">
      <img src="assets/img/icon/check.png" alt="img" />
      <h3>We have successfully received your order</h3>
      <p>We will start preparing your order as soon as possible</p>
      <div class="btn-fixed-wrap">
        <a class="btn btn-base w-100" routerLink="/main/principal"
          >Menú principal</a
        >
      </div>
    </div>
  </div>
</div>
