<div class="main-footer-bottom d-block text-center">
  <ul>
    <li>
      <a routerLink="/main/principal">
        <img src="assets/img/icon/svg/home.svg" alt="icon" />
      </a>
    </li>
    <li>
      <a routerLink="/main/search-results">
        <img src="assets/img/icon/svg/search.svg" alt="img" />
      </a>
    </li>
    <li class="shop-btn">
      <a class="menu-bar" routerLink="/main/cart">
        <img src="assets/img/icon/svg/bag.svg" alt="img" />
      </a>
    </li>
    <li>
      <a routerLink="/main/promotions">
        <img src="assets/img/icon/svg/discount.svg" alt="img" />
      </a>
    </li>
    <li>
      <a routerLink="/main/user-profile">
        <img src="assets/img/icon/svg/profile.svg" alt="img" />
      </a>
    </li>
  </ul>
</div>
